.button-component {

    height: 70px;
  
    width: 150px;
  
    padding: 20px;
  
    border: none;
  
    background-color: rgb(19, 59, 145);
  
    font-size: 20px;
  
    color: white;
  
    border-radius: 6px;
  
  }
